.problemsContainer {
  text-align: center;
  border: 1px black solid;
  border-radius: 25px;
  margin: 0px 20px 20px;
}

.dropBtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropDown {
  position: relative;
}

.dropdownContent {
  display: none;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  margin-bottom: 5px;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  cursor: pointer;
}

.dropDown:hover .dropdownContent {
  display: block;
}

.problemCardContainer {
  margin: 0px 10px;
}