.suggestionsCard {
  text-align: center;
  border: 1px black solid;
  background-color: #8aa0da;

  margin-bottom: 10px;

  border-radius: 25px;
}

.suggestionButtons {
  background-color: transparent;
  border: none;
  outline: none;
}

.suggestion-button {
  position: relative;
  width: 90px;
  height: 51.96px;
  background-color: #64c7cc;
  margin: 25.98px 0;
}

.suggestion-button:before,
.suggestion-button:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
}

.suggestion-button:before {
  bottom: 100%;
  border-bottom: 25.98px solid #64c7cc;
}

.suggestion-button:after {
  top: 100%;
  width: 0;
  border-top: 25.98px solid #64c7cc;
}
