#singleProblem {
  padding: 0px 15px;
  background-color: #f4f4f9;
}

.difficultyButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-bottom: 10px;
}

.button {
  text-align: center;
  border: 1px black solid;
  border-radius: 25px;
  height: 25px;
  width: 70px;

  outline: none;
}

#easy {
  background-color: #a6cba0;
}

#medium {
  background-color: #e8dc9e;
}

#hard {
  background-color: #e5a1a1;
}
