.hexagon-button {
  position: relative;
  width: 70px;
  height: 40.41px;
  background-color: #b8dbd9;
  margin: 33.21px 0;
}

.hexagon-button:before,
.hexagon-button:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}

.hexagon-button:before {
  bottom: 100%;
  border-bottom: 20.21px solid #b8dbd9;
}

.hexagon-button:after {
  top: 100%;
  width: 0;
  border-top: 20.21px solid #b8dbd9;
}

.button-submit {
  border: none;
  outline: none;
}

.suggestionsForm {
  text-align: center;
  border: 1px black solid;
  border-radius: 25px;

  margin-bottom: 20px;
}

#textBox {
  height: 50px;
  margin-top: 10px;
}
